$colour-primary: #5a3186;
$colour-secondary: #c7b7d2;
$colour-font-primary: #7f7f82;
$colour-font-secondary: #5a3186;

// MOVE ME

.form-button {
    width: 100%;
    height: auto;
}


.category-edit-div {
    margin: 0;
    padding: 20px;
    .category-header {
        text-align: center;
        margin-bottom: 20px;
        img {
            // min-width: 150px;
            max-width: 100px;
            width: 100%;
            height: auto;
        }
    }
    .border {
        padding: 30px 10px 10px 10px;
        background-color: #FFFFFF;

        -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        .title {

            text-align: center;
            p {
                color: $colour-font-primary;
                // display: inline;
                font-size: 1.6em;
            // line-height: 4.0;
            // border-bottom: 1px solid #797979;
            }
            @media (max-width: 500px) {
                p {
                    font-size: 1.2em;
                }
            }
        }
        .btn-addnew {
            position: absolute;
            right: 36px;
            top: 20px;
            width: 60px;
            img {
                width: 100%;
                height: auto;
            }

            @media (max-width: 500px) {
                width: 40px;
                right: 20px;
                top: 20px;
            }
        }
        .close-button {
                position: absolute;
                z-index: 100;
                left: 10px;
                top: 10px;
                width: 40px;
                height: 40px;
            }
        .new-button {
            position: absolute;
            right: 36px;
            top: 20px;
            width: 60px;
            @media (max-width: 500px) {
                width: 40px;
                right: 20px;
                top: 20px;
            }
        }


        .list {
            padding: 0;
            min-height: 20px;
            margin-top: 30px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            // background-color: #FF0000;
            .loading {

                img {
                    width: 100px;
                    height: 100px;
                    -webkit-animation:spin 1s linear infinite;
                    -moz-animation:spin 1s linear infinite;
                    animation:spin 1s linear infinite;
                }
            }
            .item {
                margin-bottom: 10px;

                max-height: 50px;
                overflow: hidden;
                .icon-edit {
                    width: 30px;
                    height: 30px;
                    @media (max-width: 500px) {
                        width: 25px;
                        height: 25px;
                    }
                }
                p {
                    font-size: 1.3em;
                    // word-break: break-all;
                    @media (max-width: 500px) {
                        font-size: 1.0em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                md-switch {
                    position: absolute;
                    right: 15px;
                }
                @media (max-width: 500px) {
                    padding-left: 0;
                    padding-right: 0;
                    .align-right {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    md-switch {
                        right: 0;
                    }
                }
            }
            .list-header {
                margin-bottom: 10px;
                p {
                    display: inline;
                    font-size: 1.4em;
                    font-weight: 400;
                    border-width: 0 0 1px 0;
                    border-color: #797979;
                    border-style: solid;
                    @media ( max-width: 500px ) {
                        font-size: 1.1em;
                        white-space: nowrap;
                    }
                }
                .active {
                    font-weight: 700;
                }
                @media (max-width: 500px) {
                    padding-left: 0;
                    padding-right: 0;
                }
                .arrow {
                    width: 20px;
                    height: 20px;
                    @media ( max-width: 500px ) {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            p {
                text-align: left;
                // display: inline;
            }
        }
        .edit {
            // min-height: 20px;
            // margin-top: 30px;
            // background-color: #00FF00;

            .icon {
                min-width: 150px;
                max-width: 150px;
                width: 150px;
                height: 150px;
                border-radius: 0px;
                border: 2px solid $colour-primary;
                background-image: url(../images/default.png);
                background-position: center;
                background-size: cover;
            }
            .onoffswitch {
                // float: right;
                position: relative;
                width: 40px;
                height: 20px;
                // margin-left: 20px;
                // margin-right: 0;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select: none;
            }
            .onoffswitch-checkbox {
                display: none;
            }
            .onoffswitch-label {
                display: block;
                overflow: hidden;
                cursor: pointer;

                margin-bottom: 0;
                // height: 20px;
                border-radius: 37px;
            }
            .onoffswitch-inner {
                display: block; width: 200%; margin-left: -100%;
                transition: margin 0.3s ease-in 0s;
            }
            .onoffswitch-inner:before, .onoffswitch-inner:after {
                display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
                font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
                box-sizing: border-box;
            }
            .onoffswitch-inner:before {
                content: "";
                padding-left: 10px;
                background-color: #712677; color: #FFFFFF;
            }
            .onoffswitch-inner:after {
                content: "";
                padding-right: 10px;
                background-color: #EEEEEE; color: #999999;
                text-align: right;
            }
            .onoffswitch-switch {
                display: block;
                width: 22px;
                height: 22px;
                // margin: -2.5px;
                margin-top: -3px;
                background: #f9f9f9;
                position: absolute; top: 0; bottom: 0;
                right: 21px;
                border: 0.1em solid #999999;
                border-radius: 37px;
                transition: all 0.3s ease-in 0s;
            }
            .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
                margin-left: 0;
            }
            .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
                right: -2px;
            }
            p {
                font-size: 1.3em;
            }
            md-switch.large {
                margin-top: 20px;
                width: 100px;
                height: 40px;
                // position: absolute;
                text-align: center;
                margin: 0 auto !important;
                .md-container {
                    width: 100%;
                    height: 48px;
                    .md-bar {
                        width: 100%;
                        height: 20px;
                        border-radius: 15px;
                    }
                    .md-thumb-container {
                        top: -2px;
                        width:75%;
                        .md-thumb {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            .buttons {
                margin-top: 20px;
            }
            .inactive {
                opacity: 0.5;
            }

            .form-button {
                // padding: 10px;
            }
            .file-upload {
                background-color: #EEEEEE;
            }
            label {
                @media (max-width: 767px) {
                    margin-top: 10px;
                }
            }
            @media (max-width: 500px) {
                padding-left: 0;
                padding-right: 0;
            }
            .loading {

                img {
                    width: 100px;
                    height: 100px;
                    -webkit-animation:spin 1s linear infinite;
                    -moz-animation:spin 1s linear infinite;
                    animation:spin 1s linear infinite;
                }
            }
        }
        @media (max-width: 500px ) {
            padding: 30px 15px 10px 15px;
            .col-xs-12 {
                padding-left: 0;
                padding-right: 0;
            }
        }

    }
    .footer-logo {
        margin-top: 20px;
        max-width: 150px;
        width: 150px;
        margin-bottom: 20px;
        // height: auto;
        @media (max-width: 768px) {
            max-width: 100px;
            width: 100px;
        }
    }
}
