$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$colour-primary: #5a3186;
$colour-secondary: #c7b7d2;
$colour-font-primary: #7f7f82;
$colour-font-input: #FFFFFF;
$colour-font-secondary: #5a3186;

$colour-background-primary: #F5F5F5;
body {
    background-color: #F5F5F5;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the left */
@keyframes slideInLeft {
	from 	{ transform:translateX(-100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
	from 	{ -moz-transform:translateX(-100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
	from 	{ -webkit-transform:translateX(-100%); }
	to 		{ -webkit-transform: translateX(0); }
}
/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide out from the Let */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}
/* slide out from the Right */
@keyframes slideOutRight {
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
	to 		{ -webkit-transform: translateX(100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

// bootstrap overides

.row {
    // border: 1px solid red;
    margin-left: 0;
    margin-right: 0;
}

.valid {
    border: 1px green solid;
    background-image: url(../images/tick.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 100% 0;
}



.checkbox-label {
    width: 100%;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // padding-bottom: 20px;
    // line-height: 2px;
    label {
        width: inherit;
        max-width: inherit;
        vertical-align: top;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.checkbox {
    margin: 0 !important;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.invalid {
    // border: 1px red solid;
    // background-size: 30px 30px;
    // background-repeat: no-repeat;
    // background-position: 100% 0;
}

.margin-bottom {
    margin-bottom: 20px;
}
.no-pad {
    padding-left: 0;
    padding-right: 0;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    //: 0 auto;
}
.align-right {
    text-align: right;
}
.col-sm-offset-0-5 {
    @media (min-width: 768px) {
        margin-left: 4.166666%;
        margin-right: 4.166666%;
    }
}

.col-xs-hidden {
    @media (max-width: 767px) {
        display: none !important;
    }
}



// md-switch {
//     margin-top: 0;
//     margin-bottom: 0;
//     .md-thumb {
//         background-color: #f1f1f1 !important;
//     }
//     .md-container {
//         margin-left: 0 !important;
//         margin-right: 8px !important;
//     }

// }
// md-switch.md-checked .md-bar {
//     background-color: rgba(36, 71, 100,0.8) !important;
// }

md-datepicker {
    width: 100% !important;
    height: 40px !important;
}

/////
.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;

    @media (min-width: 1024px) {
        width: 1024px;
        margin-right: auto;
        margin-left: auto;
        // padding-left: 15px;
        // padding-right: 15px;
    }
    .main-loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #F5F5F5;
        // -webkit-transition: all 0.5s ease-in-out;
        // -moz-transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
        opacity:1;

        .logo {
            margin-top: 50px;

            img {
                width: 100%;
                height: auto;
            }
        }
        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .spin {
                // border: 1px solid red;
                width: 35%;
                height: auto;
                -webkit-animation:spin 1s linear infinite;
                -moz-animation:spin 1s linear infinite;
                animation:spin 1s linear infinite;
            }
            .logo {
                margin-top: 50px;
                width: 150px;
                height: auto;

            }

        }
        .loading-logo {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            text-align: center;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .main-loading.ng-hide {
        transition:0.5s linear all;
        opacity:0;
    }
    // .main-loading.ng-enter.ng-enter-active {
    //     opacity:1;
    // }

}

.header {
    background-color: $colour-primary;
    // overflow: hidden;
    // -webkit-transition: all 0.5s ease-in-out;
    // -moz-transition: all 0.5s ease-in-out;
    // -o-transition: all 0.5s ease-in-out;
    // transition: all 0.5s ease-in-out;
    .border {
        border-width: 0 0 10px 0;
        border-style: solid;
        border-color: $colour-secondary;
    }
    .header-main {
        height: 40px;
    }
    .header-nav {
        height: 40px;
    }

    .title {
        // width: 100%;
        // text-align: center;
        height: 30px;
        min-height: 0;
        max-height: 30px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        p {
            text-align: center;
            color: white;
            font-weight: 500;
            padding-top: 5px;

            // margin-top: 5px;
            margin: 0;
        }
    }
    .title.inactive {
        height: 0px;
    }

    .nav {
        position: relative;
        // overflow: hidden;
        // -webkit-transition: all 0.5s ease-in-out;
        // -moz-transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
        // height: 0;
        .button-back {
            position: absolute;
            z-index: 100;
            left: 5px;
            top: 5px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .button-filter {
            position: absolute;
            z-index: 100;
            right: 80px;
            top: 5px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .button-addnew {
            position: absolute;
            z-index: 100;
            right: 80px;
            top: 5px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .button-search {
            position: absolute;
            z-index: 100;
            right: 40px;
            top: 5px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .button-refresh {
            position: absolute;
            z-index: 100;
            right: 5px;
            top: 5px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
            }
            img.active {
                -webkit-animation:spin 1s linear infinite;
            -moz-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
            }
        }
        .button-refresh.active {

        }
    }
    .nav.active {
    }
    .search {
        height: 0;
        // height: 40px;
        // position: absolute;
        // top: 0;
        // z-index: 200;
        // height: 0;
        overflow: hidden;
        // min-height: 0;

        background-color: $colour-primary;
        // -webkit-transition: all 0.5s ease-in-out;
        // -moz-transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out;
        // transition: all 0.5s ease-in-out;
        .search-bar {
            height: 25px;
            padding: 1px 10px;
            // padding-left: 10px;
            // padding-right: 10px;
            // position: absolute;
            // z-index: 100;
            // top: 5px;
            // height: 30px;
            // left: 50px;
            // right: 140px;
            input {
                width: 100%;
                height: 100%;
                font-size: 0.9em;
                border: 1px $colour-primary solid;
                background-color: $colour-secondary;
                color: $colour-font-input;
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #DDDDDD;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: #DDDDDD;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: #DDDDDD;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: #DDDDDD;
            }
        }
    }
    .search.active {
        height: 40px;
    }
}
.header.active {
    // height: 40px;
}
.header.margin {
    // margin-bottom: 30px;
}
.navbar {
    height: 20px;
}


.page {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: $colour-background-primary;
    //  -webkit-transition: all 0.5s ease-in-out;
    // -moz-transition: all 0.5s ease-in-out;
    // -o-transition: all 0.5s ease-in-out;
    // transition: all 0.5s ease-in-out;
}
.page.ng-leave 	{
    z-index:9999;
    // -webkit-animation:slideOutLeft 0.5s both ease-in;
	// -moz-animation:slideOutLeft 0.5s both ease-in;
	// animation:slideOutLeft 0.5s both ease-in;
}
.page.ng-enter 	{
    z-index:8888;
    // -webkit-animation:slideInRight 0.5s both ease-in;
	// -moz-animation:slideInRight 0.5s both ease-in;
	// animation:slideInRight 0.5s both ease-in;
}

.page-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
}
// .page-main.ng-leave {
//     -webkit-animation:slideOutLeft 0.5s both ease-in;
// 	-moz-animation:slideOutLeft 0.5s both ease-in;
// 	animation:slideOutLeft 0.5s both ease-in;
// }
// .page-main.ng-enter {
//     -webkit-animation:slideInLeft 0.5s both ease-in;
// 	-moz-animation:slideInLeft 0.5s both ease-in;
// 	animation:slideInLeft 0.5s both ease-in;
// }

// .page-hide.ng-leave {
//     display: none;
// }

// .page-category.ng-leave {
//     -webkit-animation:slideOutRight 0.5s both ease-in;
// 	-moz-animation:slideOutRight 0.5s both ease-in;
// 	animation:slideOutRight 0.5s both ease-in;
// }
// .page-category.ng-enter {
//     -webkit-animation:slideInRight 0.5s both ease-in;
// 	-moz-animation:slideInRight 0.5s both ease-in;
// 	animation:slideInRight 0.5s both ease-in;
// }

// .page-category-edit.ng-leave {
//     -webkit-animation:slideOutLeft 0.5s both ease-in;
// 	-moz-animation:slideOutLeft 0.5s both ease-in;
// 	animation:slideOutLeft 0.5s both ease-in;
// }
// .page-category-edit.ng-enter {
//     -webkit-animation:slideInLeft 0.5s both ease-in;
// 	-moz-animation:slideInLeft 0.5s both ease-in;
// 	animation:slideInLeft 0.5s both ease-in;
// }

.main-div {
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 60px;
    // bottom: 0;
    // left: -100px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin: 0 auto;
        .col-xs-12 {
            margin-bottom: 20px;
        }
        img {
            max-width: 150px;
            width: 100%;
            height: auto;
        }
        .title {
            text-align: center;
            font-size: 2.0em;
            color: #7f7f82;
        }
    }
    .buttons {
        padding-bottom: 40px;
        margin-bottom: 30px;
    }
    .main-button {
        height: 60px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 20px;

        margin-bottom: 20px;

        border-width: 2px 1px 2px 1px;
        border-style: solid;
        border-color: $colour-font-secondary;

        background-image: url(../images/arrow-right.png);
        background-size: 30px 30px;
        background-position: top 15px right 20px;
        background-repeat: no-repeat;

        p {
            color: $colour-font-secondary;
            font-size: 1.8em;
            padding: 0;
            margin: 0;
        }
    }



    // .brochure {
    //     margin-bottom: 5px;
    //     p {
    //         text-align: center;
    //         height: 30px;
    //         margin-top: 10px;
    //     }
    // }
}


//////




.popup {
    // display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.25);

    .background {
        .title {
            font-size: 1.5em;
            // font-weight: bold;
        }
        .btn {
            float: right;
            margin-left: 10px;

            background-color: #7f7f82;
            color: #FFFFFF;

            font-size: 1.2em;

        }
        .btn-purple {
            background-color: #5a3186;
        }
    }
}
.popup-delete {
    position: fixed;

    .background {
        position: fixed;
        z-index: 300;
        max-width: 300px;
        padding: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: #FFFFFF;
        border-radius: 8px;
        // border: 1px solid black;
        .title {
            text-align: center;
        }
        p {
            color: #000000;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            height: auto;
        }
        .col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


.popup-filters {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.25);


    .background {
        position: fixed;
        z-index: 300;
        max-width: 400px;
        padding: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: #FFFFFF;
        border-radius: 8px;
        // border: 1px solid black;

        p {
            color: #000000;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            height: auto;
        }
        .col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.blab{
  margin-left: 5px;
}
