
$colour-primary: #5a3186;
$colour-secondary: #c7b7d2;
$colour-font-primary: #7f7f82;
$colour-font-secondary: #5a3186;

#modal-filters {
     
    .btn-primary {
        background-color: $colour-primary;
        border-color: #c7b7d2;
    }
    .btn-warning {
        background-color: #AAAAAA;
        border-color: #999999;
    }
    .modal-body {
        margin-left: 0;
        margin-right: 0;
    }
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 5px;
    }
    ul {
        position: relative;
    }
    input {
        // width: inherit;
    }
    label {
        line-height: 1.0;
        margin-bottom: 2px;
        // margin-top: 10px;
        padding-left: 20px;
    }
    img {
        min-width: 65px;
        min-height: 65px;
        // border: 1px solid red;
    }
    input[type='checkbox'] {
        width: 30px;
        height: 30px;
        float: left;
    }
    .profile {
        width: 65px;
        height: 65px;
        float: left;
        background-image: url(../../images/profile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        // border: 1px solid black;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .uploaded {
        width: 65px;
        height: 65px;
        float: left;
        // border: 1px solid red;

        background-color: #FFFFFF;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    .uploaded-canvas {
        img {
            border: 1px red solid;
            width: 100%;
            height: auto;
        }
        canvas {
            width: 100px;
            height: 100px;
            // width: 100px;
            // height: 100px;
            border: 1px solid black;
        }
    }

    .fields {
        width: 100%;
        text-align: center;
        .upload {
            width: 100px;
            margin-top: 12px;
            // text-align: center;
            // margin:
        }
        .upload-field {
            // width: 100px;
        }
        
    }
}