<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">





    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/category.css">
    <link rel="stylesheet" href="styles/category-edit.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/content-edit.css">

    <link rel="stylesheet" href="styles/modals/modals.css">
    <link rel="stylesheet" href="styles/modals/filters.css">

    <!--<link rel="stylesheet" href="styles/contact.css">
    <link rel="stylesheet" href="styles/guideline.css">
    <link rel="stylesheet" href="styles/tool.css">
    <link rel="stylesheet" href="styles/itinerary.css">
    <link rel="stylesheet" href="styles/presentation.css">-->



  </head>

  <body ng-app="delegateApp">
    <div class="wrapper">
      <div id="header" class="header">
        <div id="header-main" class="header-main" ng-show="!isNavActive()">
          <div class="title"> <p> Distributor Medical Repository Administration </p> </div>
        </div>
        <div id="header-nav" class="header-nav nav" ng-show="isNavActive()">
          <!--<div class="title"> <p> Distributor Medical Repository Administration </p> </div>    -->
          <a class="button-back" ng-click="fields.searchValue = '' " ng-href="{{loadPage('back')}}"> <img src="./images/button-back.png"> </a>
          <a class="button-filter" ng-hide="checkLocation('/category')" ng-click="showFilters()"> <img src="./images/btn-filter.png"> </a>
          <a class="button-addnew hidden" ng-href="{{loadPage('edit')}}"> <img src="./images/button-add-white.png"> </a>
          <a class="button-search" ng-href="{{loadQuery('search='+fields.searchValue)}}"> <img src="./images/button-search.png"> </a>
          <a class="button-refresh" ng-click="loadPage('refresh')"> <img class="" ng-class="{active: rootFields.updating}" src="./images/button-refresh.png"> </a>
        </div>

        <div id="header-search" class="header-search">
          <div class="search" ng-class="{ active:getQuery('search') }">
            <div class="search-bar" >
              <input type="text" class="form-control" ng-model-options="{ debounce: 1000 }" ng-model="fields.searchValue" placeholder="Search">
            </div>
          </div>
        </div>
        <!--<div class="nav" ng-class="{ active: isNavActive() }">

        </div>-->
        <!--<div class="search" ng-class="{ active: checkLocation('search') }"> -->

        <div class="border"> </div>

      </div>

      <!--<div id="overflow" class="overflow" ng-style="{ 'height': rootFields.overflowHeight+'px'}" ng-view=""></div>-->
      <div class="page {{pageClass}}" ng-style="{'top': rootFields.headerHeight+'px' }" ng-view=""></div>
        <!--<div class="col-xs-12 no-pad" ng-view=""></div>-->
      <!--</div>-->
      <div class="col-xs-12 footer"> </div>
      <!--<div class="col-xs-12 footer">
        <div class="footer-image">
          <img src="./images/logo.png">
        </div>
        <div class="footer-bg"> </div>
    </div>-->
      <div class="row loading" ng-show="rootFields.loading">

      </div>

      <div class="row popup popup-filters" ng-click="popup.filters = false">
        <div class="col-xs-12 background" ng-click="$event.preventDefault();">
          <p class="title"> Filters - {{data.categories.length}} </p>
          <div class="col-xs-12" ng-repeat="category in data.categories">
            <div class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <label>{{category.metafield.name.value}}</label>
            </div>

            <!--<label class="checkbox-label">
              <input type="checkbox" class="checkbox">

            </label>-->
            <!--<div class="checkbox-label">
              <input type="checkbox" class="checkbox">
              <label>adsadasdsadasdasdadasdasdadasdsadadsadasdasdasdasdasdasdasdasdadsadasdadasdas</label>
            </div>-->
          </div>
          <div class="btn"> Clear </div>
          <div class="btn btn-purple"> Filter </div>
        </div>
      </div>

      <div class="col-xs-12 main-loading" ng-show="rootFields.loading">
        <div class="col-xs-12 logo">
          <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4">
            <img ng-src="./images/{{assetData.logo}}">
          </div>
        </div>
        <div class="col-xs-12 loading">
          <div class="col-xs-12 center">
            <img class="spin" src="./images/loading.png">
          </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 loading-logo">
           <!--<img class="logo" src="./images/logo.png"> -->
        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/pdfjs-dist/build/pdf.js"></script>
    <script src="bower_components/pdfjs-dist/build/pdf.worker.js"></script>
    <script src="bower_components/angular-pdf/dist/angular-pdf.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/samAPI.js"></script>
    <script src="scripts/cosmicjs.browser.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/category.js"></script>
    <script src="scripts/controllers/category-edit.js"></script>
    <script src="scripts/controllers/content.js"></script>
    <script src="scripts/controllers/content-edit.js"></script>

    <script src="scripts/controllers/modals/filters.js"></script>

    <!--<script src="scripts/controllers/itinerary.js"></script>-->
    <!--<script src="scripts/controllers/contact.js"></script>-->
    <!--<script src="scripts/controllers/presentation.js"></script>-->
    <!--<script src="scripts/controllers/guideline.js"></script>-->
    <!--<script src="scripts/controllers/tool.js"></script>-->
    <!-- endbuild -->



        <!--<script>
          function bootstrapAngular() {
            console.log("Bootstrapping AngularJS");
            // This assumes your app is named "app" and is on the body tag: <body ng-app="app">
            // Change the selector from "body" to whatever you need
            var domElement = document.querySelector('body');
            // Change the application name from "app" if needed
            angular.bootstrap(domElement, ['delegateApp']);
          }
          bootstrapAngular();
        </script>-->
</body>
</html>
