
<div id="modal-filters" class="modal-demo">
	<div  class="modal-header">
		<h3 class="modal-title" id="modal-title">Filters</h3>
	</div>
	<div class="modal-body row" id="modal-body">
		
		<div class="col-xs-12 filter-item" ng-repeat="item in $ctrl.list">
			<label> 
				<br>{{item.name}}
			</label>
			<input type="checkbox" ng-model="item.value" ng-click="$ctrl.filterClick(item);" ng-change="updateView();" >
		</div>
		<!--<div class="col-xs-12 filter-item" ng-repeat="item in $ctrl.data.filterList">
			<label> 
				<br>{{item.metafield.name.value}}
			</label>
			<input type="checkbox" ng-model="item.value" ng-click="$ctrl.filterClick(item);" ng-change="updateView();" >
		</div>-->
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.closeFilters()"> Filter </button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.clearFilters()"> Clear </button>
	</div>
</div>
