<div class="row category-edit-div">
    <div class="col-xs-12 category-header">
        <img ng-src="./images/logo.png">
    </div>
    <div class="col-xs-12 border"> 
        <div class="col-xs-12 title">
            <p> CATEGORIES </p> 
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 edit">
            <!--<div class="col-xs-12 loading" ng-show="categoryEditFields.loading"> 
                <div class="col-xs-12 center">
                    <img class="" src="./images/loading.png"> 
                </div>
            </div>-->
            <!--<div class="col-xs-12 no-pad" ng-show="!categoryEditFields.loading">-->
            
            <div class="col-xs-12 center margin-bottom">
                <!--<img class="icon" ng-src="{{categoryEditFields.inputImageURL}}">-->
            </div>

            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Name: </p> </div>
                <div class="col-xs-12 col-sm-9"> <input type="text" ng-model="categoryEditFields.inputName" ng-change="validateFields();" ng-class="categoryEditFields.inputName != '' ? 'valid' : ''" class="form-control"> </div>
            </div>

            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Thumbnail: </p></div>
                <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="categoryEditFields.inputImageName" ng-change="validateFields();" ng-class="categoryEditFields.inputImageName != '' ? 'valid' : ''" > </div>
                <div class="col-xs-12 col-sm-3"> <label for="inputImageName" class="form-control center file-upload"> Upload file <label></div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputImageName" class="form-control" onchange="angular.element(this).scope().fileInputChanged('image',this)"> </div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="categoryEditFields.inputImageURL" disabled> </div>
            </div>
            
            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> List Order: </p> </div>
                <div class="col-xs-12 col-sm-3"> <input type="number" ng-model="categoryEditFields.inputOrder" ng-change="validateFields();" ng-class="categoryEditFields.inputOrder >= 1 ? 'valid' : ''" class="form-control"> </div>
            </div>


<!--
            { "title":"Name",       "key":"name",       "type":"text", "value":"" },
                { "title":"List Order", "key":"order",      "type":"text", "value":"" },
                { "title":"Thumbnail",  "key":"imageName",  "type":"text", "value":"" },
                { "title":"Image URL",  "key":"imageURL",   "type":"text", "value":"" },
                { "title":"Live",       "key":"live",       "type":"text", "value":"" },
                { "title":"Deleted",    "key":"deleted",    "type":"text", "value":"" }-->

            <!--<div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Email: </p> </div>
                <div class="col-xs-12 col-sm-9"> <input ng-model="categoryEditFields.inputEmail" ng-change="validateFields();" ng-class="categoryEditFields.inputEmail != '' ? 'valid' : 'invalid'" type="text" class="form-control"> </div>
            </div>-->
                <!--<div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Date: </p> </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="categoryEditFields.inputDate" is-open="popup2.opened" close-text="Close" ng-change="validateFields();" ng-class="toBoolean(categoryEditFields.inputDate) != '' ? 'valid' : 'invalid'"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>-->
                <!--<div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Itinerary: </p> </div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="categoryEditFields.inputFileName" ng-change="validateFields();" ng-class="categoryEditFields.inputFileName != '' ? 'valid' : 'invalid'" > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="inputFileName" class="form-control center file-upload"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputFileName" class="form-control" onchange="angular.element(this).scope().fileInputChanged('pdf',this)"> </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="categoryEditFields.inputFileURL" disabled > </div>
                </div>
                <div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-offset-9 col-sm-3"> <label for="" class="form-control center file-upload" ng-click="previewPDF(categoryEditFields.inputFileURL);"> View pdf <label></div>
                </div>-->
                
                <div class="col-xs-12">
                    <div class="onoffswitch center">
                        <input type="checkbox" id="categoryEditCheckbox" ng-model="categoryEditFields.inputLive" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="categoryEditCheckbox">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                        
                    </div>
                </div>
                <div class="col-xs-12 margin-bottom">
                    <p class="center" ng-show="categoryEditFields.inputLive"> active </p>
                    <p class="center" ng-hide="categoryEditFields.inputLive"> inactive </p>
                </div>

                <!--<div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-12">
                        <md-switch class="large" size="large" ng-model="categoryEditFields.inputLive" ng-change="validateFields();" aria-label="Switch 1">
                        </md-switch>
                        <p ng-show="categoryEditFields.inputLive" class="center">  active </p>
                        <p ng-hide="categoryEditFields.inputLive" class="center">  inactive </p>
                    </div>
                </div>-->
                <div class="col-xs-12 margin-bottom buttons">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-4 margin-bottom" ng-class="{inactive: categoryEditFields.inputId == '' }">
                        <img src="./images/button-delete-solid.png" ng-class="{inactive: categoryEditFields.disableButtons}" class="form-button" ng-click="toggleDelete()">
                        <!--<img src="./images/button-delete-solid.png" ng-class="{inactive: categoryEditFields.disableButtons}" class="form-button" ng-click="deleteObject()">-->
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: categoryEditFields.fieldsValid == false }">
                        <img src="./images/btn-save-on.png" ng-class="{inactive: categoryEditFields.disableSave }" class="form-button" ng-click="saveFields(false)">
                    </div>
                    <!--<div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: categoryEditFields.fieldsValid == false }">-->
                        <!--<img src="./images/button-save-notify-solid.png" ng-class="{inactive: categoryEditFields.disableButtons }" class="form-button" ng-click="saveFields(true)">-->
                    <!--</div>-->
                </div>
            <!--</div>-->
        </div>
    </div>
</div>

<div class="col-xs-12 popup popup-delete" ng-show="categoryEditFields.confirmDelete"> 
    <div class="col-xs-12 background" ng-click="$event.preventDefault();">
          <p class="title"> Are you sure you want to delete this... </p>   
            <div class="col-xs-6 col-sm-offset-2 col-sm-4">
                <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
            </div> 
            <div class="col-xs-6 col-sm-4">
                <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">                
            </div> 
        </div> 
      </div>
</div>