<div class="col-xs-12 contact-div">
    <div class="col-xs-12 contact-header brochure-logo">
        <img ng-src="./images/brochure-contacts.png">
    </div>
    <div class="col-xs-12 border">
        <div class="col-xs-12">
            <div class="title">
                <p class=""> Staff Contact List  </p>
            </div>
        </div>
        <div class="new-button" ng-hide="checkLocation('edit')"> <img class="" src="./images/button-add.png" ng-click="loadPage('edit:')"> </div>
        <div class="col-xs-12 list" ng-hide="checkLocation('edit')">
            <div class="col-xs-12 list-header">
                <div class="col-xs-1 col-sm-1 no-pad"></div>
                <div class="col-xs-5 col-sm-5"> 
                    <p class="sort" ng-class="{ active: contactFields.sortName != null }" ng-click="sortName();"> {{brochureData.object.name.title}}
                        <img class="arrow" ng-show="contactFields.sortName != null && contactFields.sortName" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="contactFields.sortName != null && !contactFields.sortName" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <div class="col-xs-3 col-sm-4"> 
                    <p class="sort" ng-class="{ active: contactFields.sortJob != null }" ng-click="sortJob();"> {{brochureData.object.job.title}}
                        <img class="arrow" ng-show="contactFields.sortJob != null && contactFields.sortJob" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="contactFields.sortJob != null && !contactFields.sortJob" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <div class="col-xs-3 col-sm-2 align-right">
                    <p class="sort" ng-class="{ active: contactFields.sortStatus != null }" ng-click="sortStatus();"> {{brochureData.object.live.title}}
                        <img class="arrow" ng-show="contactFields.sortStatus != null && contactFields.sortStatus" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="contactFields.sortStatus != null && !contactFields.sortStatus" ng-src="images/arrow-down.png">
                    </p>
                </div>
            </div>
            <div class="col-xs-12 item center" ng-show="!contactFields.loading && !toBoolean(list)"> 
                No contacts to display, press the plus button to add.
            </div>
            <div class="col-xs-12 loading" ng-show="contactFields.loading"> 
                <!--<div class="col-xs-12 center">
                    <img class="" src="./images/loading.png"> 
                </div>-->
            </div>
            <div class="col-xs-12 no-pad pending" ng-hide="checkLocation('edit') || !toBoolean(brochureData.pending)"> 
                <div class="col-xs-12"> 
                    <div class="col-xs-offset-1 col-xs-9"> 
                        <p class="pending-message"> Pending contacts</p> 
                    </div>
                </div>
                <div class="col-xs-12 item" ng-repeat="item in brochureData.pending"> 
                    <div class="col-xs-1 col-sm-1  no-pad"> 
                        <img class="icon-edit" src="./images/button-edit.png" ng-click="loadPage('edit:'+item.slug)">                    
                    </div>
                    <!--<div class=""-->
                    <div class="col-xs-5 col-sm-5"> 
                        <p > {{item.metafield.name.value}} </p>
                    </div>
                    <div class="col-xs-3 col-sm-4">
                        <p> {{item.metafield.job.value}} </p>
                    </div>
                    <div class="col-xs-3 col-sm-2 align-right">
                        <md-switch md-invert="true" ng-model="item.metafield.live.value" aria-label="Switch 1" ng-change="switchSave(item)">
                        
                        </md-switch>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-11 border-bottom"> </div>
            </div>

            <div class="col-xs-12 item" ng-repeat="item in filtered = (list | contactFilter:brochureData:rootFields)"> 
                <div class="col-xs-1 col-sm-1  no-pad"> 
                    <img class="icon-edit" src="./images/button-edit.png" ng-click="loadPage('edit:'+item.slug)">                    
                </div>
                <!--<div class=""-->
                <div class="col-xs-5 col-sm-5"> 
                    <p > {{item.metafield.name.value}} </p>
                </div>
                <div class="col-xs-3 col-sm-4">
                    <p class=""> {{item.metafield.job.value}} </p>
                </div>
                <div class="col-xs-3 col-sm-2 align-right">
                    <md-switch ng-model="item.metafield.live.value" aria-label="Switch 1" ng-change="switchSave(item)">
                    
                    </md-switch>
                </div>
            </div>
        </div>
        <div class="col-xs-12 edit" ng-show="checkLocation('edit')">
            
            <div class="col-xs-12 loading" ng-show="contactFields.loading"> 
                <!--<div class="col-xs-12 center">-->
                    <!--<img class="" src="./images/loading.png"> -->
                <!--</div>-->
            </div>
            <div class="col-xs-12 no-pad" ng-show="!contactFields.loading">
                <div class="col-xs-12 center" ng-show="toBoolean(contactFields.inputPending)"> <p class="pending-message"> This contact is currently pending approval</p> </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3"> <p> SLUG: (TO BE HIDDEN) </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputId" type="text" class="form-control" disabled> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Name: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputName" ng-change="validateFields();" ng-class="contactFields.inputName != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons" type="text" class="form-control" > </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Job Title: </p> </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <select ng-model="contactFields.inputJob" class="form-control" ng-change="validateFields();" ng-class="contactFields.inputJob != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons" > 
                            <option selected disabled value=""> Please select... </option>
                            <option value="Senior Medical Staff"> Senior Medical Staff</option>
                            <option value="Junior Medical Staff"> Junior Medical Staff </option>
                            <option value="Pharmacist"> Pharmacist </option>
                            <option value="Dietitian"> Dietitian </option>
                            <option value="Research Fellow"> Research Fellow </option>
                            <option value="Nurse Consultants"> Nurse Consultants </option>
                            <option value="Research Nurses"> Research Nurses </option>
                            <option value="Nurse Endoscopist"> Nurse Endoscopist </option>
                            <option value="Administration staff">  Administration staff </option>
                            <option value="Business Manager">  Business Manager </option>
                            <option value="Scientist"> Scientist </option>
                            <option value="Software Engineer">  Software Engineer </option>
                            <option value="Higher Degree Research Students"> Higher Degree Research Students </option>
                            <option value="Other"> Other </option>
                        </select>
                    </div>
                    <!--<div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputJob" type="text" class="form-control"> </div>-->
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3"> <p> Department: </p></div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputDepartment" ng-change="validateFields();" ng-class="contactFields.inputDepartment != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Mobile: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputMobile" ng-change="validateFields();" ng-class="contactFields.inputMobile != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Email: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputEmail" ng-change="validateFields();" ng-class="contactFields.inputEmail != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <!--<div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Photo: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputPhoto" type="file" class="form-control"> </div>
                </div>-->
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Photo: </p> </div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="contactFields.inputPhotoFileName" ng-change="validateFields();" ng-class="contactFields.inputPhotoFileName != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="inputPhoto" class="form-control center"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputPhoto" class="form-control" onchange="angular.element(this).scope().fileInputChanged('image',this)"> </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="text" class="form-control" ng-model="contactFields.inputPhotoURL" > </div>
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <p> Practice Details </p>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Practice Name: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputPracticeName" ng-change="validateFields();" ng-class="contactFields.inputPracticeName != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Address: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputAddress" ng-change="validateFields();" ng-class="contactFields.inputAddress != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Suburb: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputSuburb" ng-change="validateFields();" ng-class="contactFields.inputSuburb != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Post Code: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputPostCode"  ng-change="validateFields();" ng-class="contactFields.inputPostCode != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> State: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputState" ng-change="validateFields();" ng-class="contactFields.inputState != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Phone: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputPhone" ng-change="validateFields();" ng-class="contactFields.inputPhone != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"><p> Fax: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="contactFields.inputFax" ng-change="validateFields();" ng-class="contactFields.inputFax != '' ? 'valid' : 'invalid'" ng-disabled="contactFields.disableButtons"  type="text" class="form-control"> </div>
                </div>


                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <!--<div class="col-xs-12 col-sm-3"> <p> Draft/Live: </p>  </div>-->
                    <div class="col-xs-12 col-sm-12">
                        <md-switch class="large" size="large" ng-model="contactFields.inputLive" ng-change="validateFields();" ng-disabled="contactFields.disableButtons"  aria-label="Switch 1">
                        
                            <!--{{ data.cb1 }}-->
                        </md-switch>
                        <p ng-show="contactFields.inputLive" class="center">  active </p>
                        <p ng-hide="contactFields.inputLive" class="center">  inactive </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 margin-bottom">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: contactFields.inputId == '' }">
                        <img src="./images/button-delete-solid.png" ng-class="{inactive: contactFields.disableButtons}" class="form-button" ng-click="toggleDelete()">
                        <!--<img src="./images/button-delete-solid.png" ng-class="{inactive: contactFields.disableButtons}" class="form-button" ng-click="deleteObject()">-->
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: contactFields.fieldsValid == false }">
                        <img src="./images/button-save-solid.png" ng-class="{inactive: contactFields.disableButtons }" class="form-button" ng-click="saveFields(false)">
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: contactFields.fieldsValid == false }">
                        <!--<img src="./images/button-save-notify-solid.png" ng-class="{inactive: contactFields.disableButtons }" class="form-button" ng-click="saveFields(true)">-->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="col-xs-12 confirm-delete" ng-show="contactFields.confirmDelete"> 
    <div class="col-xs-10 background"> 
        <p class="center"> Are you sure you want to delete this... </p>
        <div class="col-xs-6 col-sm-offset-2 col-sm-4">
            <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
        </div> 
        <div class="col-xs-6 col-sm-4">
            <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">                
        </div> 
    </div>
</div>