<div class="row content-div">
    <div class="col-xs-12 content-header">
        <img ng-src="./images/logo.png">
    </div>
    <div class="col-xs-12 border"> 
        <div class="col-xs-12 title">
            <p> Content </p> 
        </div>
        <a class="btn-addnew" ng-href="{{loadPage('#/content/edit:')}}">  
        <!--<a class="btn-addnew" ng-href="{{loadPage('#/content/edit')}}" ng-hide="checkLocation('edit')">  -->
            <!--<img class="" src="./images/button-add.png" ng-click="loadPage('edit:')"> -->
            <img src="./images/btn-plus.png"> 
        </a>
        
        <div class="col-xs-12 list">
            <div class="col-xs-12 list-header"> 
                <div class="col-xs-1 col-sm-1 no-pad"></div>
                <div class="col-xs-8 col-sm-8">
                    <p class="sort" ng-class="{ active: contentFields.sortName != null }" ng-click="sortName();"> {{brochureData.object.name.title}}
                        <img class="arrow" ng-show="contentFields.sortName != null && contentFields.sortName" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="contentFields.sortName != null && !contentFields.sortName" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <!--<div class="col-xs-5 col-sm-5">
                    <p class="sort" ng-class="{ active: contentFields.sortEmail != null }" ng-click="sortEmail();"> {{brochureData.object.email.title}}
                        <img class="arrow" ng-show="contentFields.sortEmail != null && contentFields.sortEmail" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="contentFields.sortEmail != null && !contentFields.sortEmail" ng-src="images/arrow-down.png">
                    </p>
                </div>-->
                <div class="col-xs-3 col-sm-3 align-right">
                    <p class="sort" ng-class="{ active: contentFields.sortStatus != null }" ng-click="sortStatus();"> {{brochureData.object.live.title}}
                        <img class="arrow" ng-show="contentFields.sortStatus != null && contentFields.sortStatus" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="contentFields.sortStatus != null && !contentFields.sortStatus" ng-src="images/arrow-down.png">
                    </p>
                </div>
            </div>
            <div class="col-xs-12 item center" ng-show="!contentFields.loading && !toBoolean(filtered)"> 
                No itineraries to display, press the plus button to add.
            </div>
            <div class="col-xs-12 loading" ng-show="contentFields.loading"> 
                <!--<div class="col-xs-12 center">
                    <img class="" src="./images/loading.png"> 
                </div>-->
            </div>
            <div class="col-xs-12 item" ng-repeat="item in filtered = (data.content | contentFilter:data.categoryFilters:fields)"> 
                
                <a class="col-xs-1 col-sm-1 no-pad" ng-href="{{loadPage('#/content/edit:'+item.slug)}}">  
                    <img class="icon-edit" src="./images/button-edit.png">                    
                </a>
                <div class="col-xs-8 col-sm-8"> 
                    <p >{{item.metafield.name.value}}</p>
                </div>
                <!--<div class="col-xs-5 col-sm-5"> 
                    <p >{{item.metafield.email.value}} </p>
                </div>-->
                <div class="col-xs-3 col-sm-3 align-right">
                    <div class="padding">
                        <div class="onoffswitch">
                            <input type="checkbox" id="{{item.slug}}" ng-model="item.metafield.live.value" ng-change="switchSave(item)" name="onoffswitch" class="onoffswitch-checkbox" checked>
                            <label class="onoffswitch-label" for="{{item.slug}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--<div class="col-xs-2 col-sm-2 align-right">
                    <md-switch ng-model="item.metafield.live.value" aria-label="Switch 1" ng-change="switchSave(item)">
                    
                    </md-switch>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 confirm-delete" ng-show="contentFields.confirmDelete"> 
    <div class="col-xs-10 background"> 
        <p class="center"> Are you sure you want to delete this... </p>
        <div class="col-xs-6 col-sm-offset-2 col-sm-4">
            <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
        </div> 
        <div class="col-xs-6 col-sm-4">
            <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">                
        </div> 
    </div>
</div>