<div class="row content-edit-div">
    <div class="col-xs-12 content-header">
        <img ng-src="./images/logo.png">
    </div>
    <div class="col-xs-12 border">
        <div class="col-xs-12 title">
            <p> Content </p>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 edit">
            <!--<div class="col-xs-12 loading" ng-show="contentEditFields.loading">
                <div class="col-xs-12 center">
                    <img class="" src="./images/loading.png">
                </div>
            </div>-->
            <!--<div class="col-xs-12 no-pad" ng-show="!contentEditFields.loading">-->

            <div class="col-xs-12 center margin-bottom">
                <img class="icon" ng-src="{{contentEditFields.inputImageURL}}">
            </div>

            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Name: </p> </div>
                <div class="col-xs-12 col-sm-9"> <input type="text" ng-model="contentEditFields.inputName" ng-change="validateFields();" ng-class="contentEditFields.inputName != '' ? 'valid' : ''" class="form-control"> </div>
            </div>
            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Category: </p> </div>
                <div class="col-xs-12 col-sm-9">

                   <!-- <div ng-repeat="category in categoryList" class="col-xs-6">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="x.value" ng-value="category.slug" ng-change="validateFields();">{{category.metafield.name.value}}</label>
                  </div>
                </div> -->

                <div class="col-xs-12 col-sm-6" ng-repeat="keyword in keywords">
    <label><input type="checkbox" ng-model="keyword.checked" ng-false-value="''"><span class="blab">{{keyword.metafield.name.value}}</span></label>
    </div>

                    <!-- <select type="text" ng-model="contentEditFields.inputCategory" ng-change="validateFields();" ng-class="contentEditFields.inputCategory != '' ? 'valid' : ''" class="form-control">
                        <option ng-repeat="category in categoryList" ng-value="category.slug">
                            {{category.metafield.name.value}}
                        </option>
                    </select> -->
                </div>
            </div>
            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Year: </p> </div>

                <div class="col-xs-12 col-sm-9">
                    <select ng-model="contentEditFields.inputYear" ng-change="validateFields();" ng-class="contentEditFields.inputYear != '' ? 'valid' : ''" class="form-control">
                        <option selected disabled value=""> Please choose </option>
                        <option value="1993"> 1993 </option>
                        <option value="1993"> 1994 </option>
                        <option value="1993"> 1995 </option>
                        <option value="1993"> 1996 </option>
                        <option value="1993"> 1997 </option>
                        <option value="1993"> 1998 </option>
                        <option value="1993"> 1999 </option>
                        <option value="2000"> 2000 </option>
                        <option value="2001"> 2001 </option>
                        <option value="2002"> 2002 </option>
                        <option value="2003"> 2003 </option>
                        <option value="2004"> 2004 </option>
                        <option value="2005"> 2005 </option>
                        <option value="2006"> 2006 </option>
                        <option value="2007"> 2007 </option>
                        <option value="2008"> 2008 </option>
                        <option value="2009"> 2009 </option>
                        <option value="2010"> 2010 </option>
                        <option value="2011"> 2011 </option>
                        <option value="2012"> 2012 </option>
                        <option value="2013"> 2013 </option>
                        <option value="2014"> 2014 </option>
                        <option value="2015"> 2015 </option>
                        <option value="2016"> 2016 </option>
                        <option value="2017"> 2017 </option>
                    </select>
                    <!--<input type="text" ng-model="contentEditFields.inputYear" ng-change="validateFields();" ng-class="contentEditFields.inputYear != '' ? 'valid' : ''" class="form-control"> -->
                </div>
            </div>

            <div class="col-xs-12 btnbox margin-bottom">
                    <div class="col-xs-12 col-sm-4">Please Select type:</div>
                    <div class="col-xs-12 col-sm-8">
        <button class="btn btn-default col-xs-offset-3 col-sm-offset-1" ng-disabled="showpdf" ng-click="showpdf = true; showvid = false">PDF</button>
        <button class="btn btn-default col-xs-offset-1 col-sm-offset-1" ng-disabled="showvid" ng-click="showvid = true; showpdf = false">Video</button>
      </div>
            </div>

        <div ng-show="showpdf">
            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> PDF: </p></div>
                <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="contentEditFields.inputFileName" ng-change="validateFields();" ng-class="contentEditFields.inputFileName != '' ? 'valid' : ''" > </div>
                <div class="col-xs-12 col-sm-3"> <label for="inputFileName" class="form-control center file-upload"> Upload file <label></div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputFileName" class="form-control" onchange="angular.element(this).scope().fileInputChanged('pdf',this)"> </div>
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="contentEditFields.inputFileURL" disabled> </div>
            </div>
            </div>

        <!--<p ng-hide="showme">It will appear here!</p>
        <h2 ng-show="showme">This is mah content, yo!</h2>-->

            <div ng-show="showvid" class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> URL: </p> </div>
                <div class="col-xs-12 col-sm-9"> <input type="text" ng-model="contentEditFields.inputOtherURL" ng-change="validateFields();" ng-class="contentEditFields.inputOtherURL != '' ? 'valid' : ''" class="form-control"> </div>
            </div>

            <div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> List Order: </p> </div>
                <div class="col-xs-12 col-sm-3"> <input type="number" ng-model="contentEditFields.inputOrder" ng-change="validateFields();" ng-class="contentEditFields.inputOrder >= 1 ? 'valid' : ''" class="form-control"> </div>
            </div>


<!--
            { "title":"Name",       "key":"name",       "type":"text", "value":"" },
                { "title":"List Order", "key":"order",      "type":"text", "value":"" },
                { "title":"Thumbnail",  "key":"imageName",  "type":"text", "value":"" },
                { "title":"Image URL",  "key":"imageURL",   "type":"text", "value":"" },
                { "title":"Live",       "key":"live",       "type":"text", "value":"" },
                { "title":"Deleted",    "key":"deleted",    "type":"text", "value":"" }-->

            <!--<div class="col-xs-12 margin-bottom">
                <div class="col-xs-12 col-sm-3"> <p> Email: </p> </div>
                <div class="col-xs-12 col-sm-9"> <input ng-model="contentEditFields.inputEmail" ng-change="validateFields();" ng-class="contentEditFields.inputEmail != '' ? 'valid' : ''" type="text" class="form-control"> </div>
            </div>-->
                <!--<div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Date: </p> </div>
                    <div class="col-xs-12 col-sm-9">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="contentEditFields.inputDate" is-open="popup2.opened" close-text="Close" ng-change="validateFields();" ng-class="toBoolean(contentEditFields.inputDate) != '' ? 'valid' : ''"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>-->
                <!--<div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Itinerary: </p> </div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="contentEditFields.inputFileName" ng-change="validateFields();" ng-class="contentEditFields.inputFileName != '' ? 'valid' : ''" > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="inputFileName" class="form-control center file-upload"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputFileName" class="form-control" onchange="angular.element(this).scope().fileInputChanged('pdf',this)"> </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="contentEditFields.inputFileURL" disabled > </div>
                </div>
                <div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-offset-9 col-sm-3"> <label for="" class="form-control center file-upload" ng-click="previewPDF(contentEditFields.inputFileURL);"> View pdf <label></div>
                </div>-->

                <div class="col-xs-12">
                    <div class="onoffswitch center">
                        <input type="checkbox" id="contentEditCheckbox" ng-model="contentEditFields.inputLive" name="onoffswitch" class="onoffswitch-checkbox" checked>
                        <label class="onoffswitch-label" for="contentEditCheckbox">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 margin-bottom">
                    <p class="center" ng-show="contentEditFields.inputLive"> active </p>
                    <p class="center" ng-hide="contentEditFields.inputLive"> inactive </p>
                </div>

                <!--<div class="col-xs-12 margin-bottom">
                    <div class="col-xs-12 col-sm-12">
                        <md-switch class="large" size="large" ng-model="contentEditFields.inputLive" ng-change="validateFields();" aria-label="Switch 1">
                        </md-switch>
                        <p ng-show="contentEditFields.inputLive" class="center">  active </p>
                        <p ng-hide="contentEditFields.inputLive" class="center">  inactive </p>
                    </div>
                </div>-->
                <div class="col-xs-12 margin-bottom">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-4 margin-bottom" ng-class="{inactive: contentEditFields.inputId == '' }">
                        <img src="./images/button-delete-solid.png" ng-class="{inactive: contentEditFields.disableButtons}" class="form-button" ng-click="toggleDelete()">
                        <!--<img src="./images/button-delete-solid.png" ng-class="{inactive: contentEditFields.disableButtons}" class="form-button" ng-click="deleteObject()">-->
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: contentEditFields.fieldsValid == false }">
                        <img src="./images/btn-save-on.png" ng-class="{inactive: contentEditFields.disableButtons }" class="form-button" ng-click="saveFields(false)">
                    </div>
                    <!--<div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: contentEditFields.fieldsValid == false }">-->
                        <!--<img src="./images/button-save-notify-solid.png" ng-class="{inactive: contentEditFields.disableButtons }" class="form-button" ng-click="saveFields(true)">-->
                    <!--</div>-->
                </div>
            <!--</div>-->
        </div>
    </div>
</div>

<div class="col-xs-12 confirm-delete" ng-show="contentEditFields.confirmDelete">
    <div class="col-xs-10 background">
        <p class="center"> Are you sure you want to delete this... </p>
        <div class="col-xs-6 col-sm-offset-2 col-sm-4">
            <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
        </div>
        <div class="col-xs-6 col-sm-4">
            <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">
        </div>
    </div>
</div>

<div class="col-xs-12 popup popup-delete" ng-show="contentEditFields.confirmDelete">
    <div class="col-xs-12 background" ng-click="$event.preventDefault();">
          <p class="title"> Are you sure you want to delete this... </p>
            <div class="col-xs-6 col-sm-offset-2 col-sm-4">
                <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
            </div>
            <div class="col-xs-6 col-sm-4">
                <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">
            </div>
        </div>
      </div>
</div>
