<div class="col-xs-12 itinerary-div">
    <div class="col-xs-12 itinerary-header brochure-logo">
        <img ng-src="./images/brochure-rosters.png">
    </div>
    <div class="col-xs-12 border"> 
        <div class="col-xs-12">
            <div class="title">
                  <p class=""> Itineraries </p> 
            </div> 
        </div>
        <!--<div class="close-button" ng-show="checkLocation('edit')" ng-click="hideEdit()"><img src="./images/back.png"> </div>        -->
        <div class="new-button" ng-hide="checkLocation('edit')">  <img class="" src="./images/button-add.png" ng-click="loadPage('edit:')"> </div>
        <div class="col-xs-12 list" ng-hide="checkLocation('edit')">
            <div class="col-xs-12 list-header"> 
                <div class="col-xs-1 col-sm-1 no-pad"></div>
                <div class="col-xs-4 col-sm-4">
                    <p class="sort" ng-class="{ active: itineraryFields.sortName != null }" ng-click="sortName();"> {{brochureData.object.name.title}}
                        <img class="arrow" ng-show="itineraryFields.sortName != null && itineraryFields.sortName" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="itineraryFields.sortName != null && !itineraryFields.sortName" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <div class="col-xs-5 col-sm-5">
                    <p class="sort" ng-class="{ active: itineraryFields.sortEmail != null }" ng-click="sortEmail();"> {{brochureData.object.email.title}}
                        <img class="arrow" ng-show="itineraryFields.sortEmail != null && itineraryFields.sortEmail" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="itineraryFields.sortEmail != null && !itineraryFields.sortEmail" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <div class="col-xs-2 col-sm-2 align-right">
                    <p class="sort" ng-class="{ active: itineraryFields.sortStatus != null }" ng-click="sortStatus();"> {{brochureData.object.live.title}}
                        <img class="arrow" ng-show="itineraryFields.sortStatus != null && itineraryFields.sortStatus" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="itineraryFields.sortStatus != null && !itineraryFields.sortStatus" ng-src="images/arrow-down.png">
                    </p>
                </div>
            </div>
            <div class="col-xs-12 item center" ng-show="!itineraryFields.loading && !toBoolean(list)"> 
                No itineraries to display, press the plus button to add.
            </div>
            <div class="col-xs-12 loading" ng-show="itineraryFields.loading"> 
                <!--<div class="col-xs-12 center">
                    <img class="" src="./images/loading.png"> 
                </div>-->
            </div>
            <div class="col-xs-12 item" ng-repeat="item in filtered = (list | itineraryFilter:brochureData:rootFields)"> 
                <div class="col-xs-1 col-sm-1  no-pad"> 
                    <img class="icon-edit" src="./images/button-edit.png" ng-click="loadPage('edit:'+item.slug)">                    
                </div>
                <div class="col-xs-4 col-sm-4"> 
                    <p >{{item.metafield.name.value}} </p>
                </div>
                <div class="col-xs-5 col-sm-5"> 
                    <p >{{item.metafield.email.value}} </p>
                </div>
                <div class="col-xs-2 col-sm-2 align-right">
                    <md-switch ng-model="item.metafield.live.value" aria-label="Switch 1" ng-change="switchSave(item)">
                    
                    </md-switch>
                </div>
            </div>
        </div>
        <div class="col-xs-12 edit" ng-show="checkLocation('edit')">
            <div class="col-xs-12 loading" ng-show="itineraryFields.loading"> 
                <div class="col-xs-12 center">
                    <img class="" src="./images/loading.png"> 
                </div>
            </div>
            <div class="col-xs-12 no-pad" ng-show="!itineraryFields.loading">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3"> <p> SLUG: (TO BE HIDDEN) </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="itineraryFields.inputId" type="text" class="form-control" disabled placeholder="Used for accessing cosmic"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Name: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="itineraryFields.inputName" ng-change="validateFields();" ng-class="itineraryFields.inputName != '' ? 'valid' : 'invalid'" type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Email: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="itineraryFields.inputEmail" ng-change="validateFields();" ng-class="itineraryFields.inputEmail != '' ? 'valid' : 'invalid'" type="text" class="form-control"> </div>
                </div>
                <!--<div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Date: </p> </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="itineraryFields.inputDate" is-open="popup2.opened" close-text="Close" ng-change="validateFields();" ng-class="toBoolean(itineraryFields.inputDate) != '' ? 'valid' : 'invalid'"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>-->
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Itinerary: </p> </div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="itineraryFields.inputFileName" ng-change="validateFields();" ng-class="itineraryFields.inputFileName != '' ? 'valid' : 'invalid'" > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="inputFileName" class="form-control center file-upload"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputFileName" class="form-control" onchange="angular.element(this).scope().fileInputChanged('pdf',this)"> </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="itineraryFields.inputFileURL" disabled > </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-offset-9 col-sm-3"> <label for="" class="form-control center file-upload" ng-click="previewPDF(itineraryFields.inputFileURL);"> View pdf <label></div>
                </div>
                <!--<div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Thumbnail: </p></div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="itineraryFields.inputImageName" ng-change="validateFields();" ng-class="itineraryFields.inputImageName != '' ? 'valid' : 'invalid'" > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="inputImageName" class="form-control center file-upload"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="inputImageName" class="form-control" onchange="angular.element(this).scope().fileInputChanged('image',this)"> </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="itineraryFields.inputImageURL" disabled> </div>
                </div>-->
                <!--<div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> List order: </p> </div>
                    <div class="col-xs-12 col-sm-3"> <input ng-model="itineraryFields.inputOrder" ng-change="validateFields();" ng-class="itineraryFields.inputOrder != '' ? 'valid' : 'invalid'" type="number" class="form-control"> </div>
                </div>-->
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <!--<div class="col-xs-12 col-sm-3"> <p> Draft/Live: </p>  </div>-->
                    <div class="col-xs-12 col-sm-12">
                        <md-switch class="large" size="large" ng-model="itineraryFields.inputLive" ng-change="validateFields();" aria-label="Switch 1">
                        
                            <!--{{ data.cb1 }}-->
                        </md-switch>
                        <p ng-show="itineraryFields.inputLive" class="center">  active </p>
                        <p ng-hide="itineraryFields.inputLive" class="center">  inactive </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 margin-bottom">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: itineraryFields.inputId == '' }">
                        <img src="./images/button-delete-solid.png" ng-class="{inactive: itineraryFields.disableButtons}" class="form-button" ng-click="toggleDelete()">
                        <!--<img src="./images/button-delete-solid.png" ng-class="{inactive: itineraryFields.disableButtons}" class="form-button" ng-click="deleteObject()">-->
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: itineraryFields.fieldsValid == false }">
                        <img src="./images/button-save-solid.png" ng-class="{inactive: itineraryFields.disableButtons }" class="form-button" ng-click="saveFields(false)">
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: itineraryFields.fieldsValid == false }">
                        <!--<img src="./images/button-save-notify-solid.png" ng-class="{inactive: itineraryFields.disableButtons }" class="form-button" ng-click="saveFields(true)">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 confirm-delete" ng-show="itineraryFields.confirmDelete"> 
    <div class="col-xs-10 background"> 
        <p class="center"> Are you sure you want to delete this... </p>
        <div class="col-xs-6 col-sm-offset-2 col-sm-4">
            <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
        </div> 
        <div class="col-xs-6 col-sm-4">
            <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">                
        </div> 
    </div>
</div>