
<div class="main-div">
	<div class="row logo">
		<div class="col-xs-12"> 
			<img ng-src="./images/logo.png">
		</div>
		<div class="col-xs-12"> 
			<p class="title"> Distributor Medical Repository <br> Administration </p>
		</div>
	</div>

	<div class="row buttons"> 
		<div class="col-xs-12 col-sm-offset-1 col-sm-10"> 
			<!--<a ng-href="{{loadPage('#/main')}}" class="header-search-home"> 
				<img src="./images/btn-home.png">
			</a>-->
			<a ng-href="{{loadPage('#/category')}}" class="col-xs-12 main-button"> 
				<p> Add/Edit Category </p>
			</a>
			<a ng-href="{{loadPage('#/content')}}" class="col-xs-12 main-button"> 
				<p> Add/Edit Content </p>
			</a>

		<!--<div class="col-xs-6 col-sm-6 brochure" ng-repeat="brochure in assetData.brochures" ng-click="loadPage(brochure.type)">
			<div class="col-sm-offset-2 col-sm-8"> <img ng-src="./images/{{brochure.logo}}"> </div>
			<div class="col-sm-12 no-pad"> <p> {{brochure.title}} </p> </div>
			
		</div>-->
		</div>
	</div>
</div>