<div class="col-xs-12 presentation-div"> 
    <div class="col-xs-12 presentation-header brochure-logo">
        <img ng-src="./images/brochure-presentations.png">
    </div>
    <div class="col-xs-12 border"> 
        <div class="col-xs-12"> <div class="title">  <p class=""> Presentation Library </p> </div> </div>
        <div class="new-button" ng-hide="checkLocation('edit')"> <img class="" src="./images/button-add.png" ng-click="loadPage('edit:')"> </div>
        <div class="col-xs-12 list" ng-hide="checkLocation('edit')">
            <div class="col-xs-12 list-header"> 
                <div class="col-xs-1 col-sm-1 no-pad"></div>
                <div class="col-xs-7 col-sm-7">
                    <p class="sort" ng-class="{ active: presentationFields.sortName != null }" ng-click="sortName();"> {{brochureData.object.name.title}}
                        <img class="arrow" ng-show="presentationFields.sortName != null && presentationFields.sortName" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="presentationFields.sortName != null && !presentationFields.sortName" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 align-right">
                    <p class="sort" ng-class="{ active: presentationFields.sortStatus != null }" ng-click="sortStatus();"> {{brochureData.object.live.title}}
                        <img class="arrow" ng-show="presentationFields.sortStatus != null && presentationFields.sortStatus" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="presentationFields.sortStatus != null && !presentationFields.sortStatus" ng-src="images/arrow-down.png">
                    </p>
                </div>
            </div>
            <div class="col-xs-12 item center" ng-show="!presentationFields.loading && !toBoolean(list)"> 
                No presentations to display, press the plus button to add.
            </div>
            <div class="col-xs-12 loading" ng-show="presentationFields.loading"> 
                <!--<div class="col-xs-12 center">-->
                    <!--<img class="" src="./images/loading.png"> -->
                <!--</div>-->
            </div>
            <div class="col-xs-12 item" ng-repeat="item in filtered = (list | presentationFilter:brochureData:rootFields)"> 
                <div class="col-xs-1 col-sm-1  no-pad"> 
                    <img class="icon-edit" src="./images/button-edit.png" ng-click="loadPage('edit:'+item.slug)">                    
                </div>
                <div class="col-xs-8 col-sm-8"> 
                    <p >{{item.metafield.name.value}} </p>
                </div>
                <div class="col-xs-3 col-sm-3 align-right">
                    <md-switch ng-model="item.metafield.live.value" aria-label="Switch 1" ng-change="switchSave(item)">
                    
                    </md-switch>
                </div>
            </div>
        </div>  

    
        <div class="col-xs-12 edit" ng-show="checkLocation('edit')">
            <div class="col-xs-12 loading" ng-show="presentationFields.loading"> 
                <div class="col-xs-12 center">
                    <img class="" src="./images/loading.png"> 
                </div>
            </div>
            <div class="col-xs-12 no-pad" ng-show="!presentationFields.loading">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3"> <p> SLUG: (TO BE HIDDEN) </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="presentationFields.inputId" type="text" class="form-control" disabled placeholder="Used for accessing cosmic"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Name: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="presentationFields.inputName" ng-change="validateFields();" ng-class="presentationFields.inputName != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Meeting: </p> </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <select ng-model="presentationFields.inputMeeting" ng-change="validateFields();" ng-class="presentationFields.inputMeeting != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" type="text" class="form-control">
                            <!--<option disabled selected> Please choose </option>-->
                            <option value="Seminar"> Seminar </option>
                            <option value="Journal Club"> Journal Club </option>
                            <option value="Other Meetings"> Other Meetings </option>
                        </select>
                        <!--<input ng-model="presentationFields.inputMeeting" ng-change="validateFields();" ng-class="presentationFields.inputMeeting != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" type="text" class="form-control"> -->
                        </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Author: </p> </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="presentationFields.inputAuthor" ng-change="validateFields();" ng-class="presentationFields.inputAuthor != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" type="text" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Date: </p> </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="presentationFields.inputDate" is-open="popup2.opened" close-text="Close" ng-change="validateFields();" ng-class="toBoolean(presentationFields.inputDate) != '' ? 'valid' : 'invalid'"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <!--<input ng-model="presentationFields.inputDate" ng-change="validateFields();" ng-class="presentationFields.inputDate != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" type="text" class="form-control">-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> PDF: </p> </div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="presentationFields.inputFileName" ng-change="validateFields();" ng-class="presentationFields.inputFileName != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="filePDF" class="form-control center"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="filePDF" class="form-control" onchange="angular.element(this).scope().fileInputChanged('pdf',this)"> </div>
                    <div class="col-xs-12 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="presentationFields.inputFileURL" > </div>
                    
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> Thumbnail: </p></div>
                    <div class="col-xs-12 col-sm-6"> <input type="text" class="form-control" ng-model="presentationFields.inputImageName" ng-change="validateFields();" ng-class="presentationFields.inputImageName != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" > </div>
                    <div class="col-xs-12 col-sm-3"> <label for="fileImage" class="form-control center"> Upload file <label></div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-9 hidden"> <input type="file" id="fileImage" class="form-control" onchange="angular.element(this).scope().fileInputChanged('image',this)"> </div>
                    <!--<div class="col-xs-12 col-sm-9"> <input onchange="angular.element(this).scope().fileInputChanged('image',this)"  type="file" class="form-control"> </div>-->
                    <div class="col-xs-12 col-sm-6 hidden"> <input type="text" class="form-control" ng-model="presentationFields.inputImageURL" > </div>
                    
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3"> <p> List order: </p> </div>
                    <div class="col-xs-12 col-sm-3"> <input ng-model="presentationFields.inputOrder" ng-change="validateFields();" ng-class="presentationFields.inputOrder != '' ? 'valid' : 'invalid'" ng-disabled="presentationFields.disableButtons" type="number" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <!--<div class="col-xs-12 col-sm-3"> <p> Draft/Live: </p>  </div>-->
                    <div class="col-xs-12 col-sm-12">
                        <md-switch class="large" size="large" ng-model="presentationFields.inputLive" aria-label="Switch 1">
                        
                            <!--{{ data.cb1 }}-->
                        </md-switch>
                        <p ng-show="presentationFields.inputLive" class="center">  active </p>
                        <p ng-hide="presentationFields.inputLive" class="center">  inactive </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 margin-bottom">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: presentationFields.inputId == '' }">
                        <img src="./images/button-delete-solid.png" ng-class="{inactive: presentationFields.disableButtons}" class="form-button" ng-click="toggleDelete()">
                        <!--<img src="./images/button-delete-solid.png" ng-class="{inactive: presentationFields.disableButtons}" class="form-button" ng-click="deleteObject()">-->
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: presentationFields.fieldsValid == false }">
                        <img src="./images/button-save-solid.png" ng-class="{inactive: presentationFields.disableButtons }" class="form-button" ng-click="saveFields(false)">
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: presentationFields.fieldsValid == false }">
                        <!--<img src="./images/button-save-notify-solid.png" ng-class="{inactive: presentationFields.disableButtons }" class="form-button" ng-click="saveFields(true)">-->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 confirm-delete" ng-show="presentationFields.confirmDelete"> 
        <div class="col-xs-10 background"> 
            <p class="center"> Are you sure you want to delete this... </p>
            <div class="col-xs-6 col-sm-offset-2 col-sm-4">
                <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
            </div> 
            <div class="col-xs-6 col-sm-4">
                <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">                
            </div> 
        </div>
    </div>