<div class="col-xs-12 tool-div">
    <div class="col-xs-12 tool-header brochure-logo">
        <img ng-src="./images/brochure-tools.png">
    </div>
    <div class="col-xs-12 border">
        <div class="col-xs-12">
            <div class="title">
                <p class=""> Tools and Calculators </p>
            </div>
        </div>
        <!--<div class="close-button" ng-show="getLocation().indexOf('/tools/edit') != -1" ng-click="hideEdit()"><img src="./images/back.png"> </div>        -->
        <div class="new-button" ng-hide="checkLocation('edit')"> <img class="" src="./images/button-add.png" ng-click="loadPage('edit:')"> </div>
        <div class="col-xs-12 list" ng-hide="checkLocation('edit')">
            <div class="col-xs-12 list-header">
                <div class="col-xs-1 col-sm-1 no-pad"></div>
                <div class="col-xs-7 col-sm-7">
                    <p class="sort" ng-class="{ active: toolFields.sortName != null }" ng-click="sortName();"> {{brochureData.object.name.title}}
                        <img class="arrow" ng-show="toolFields.sortName != null && toolFields.sortName" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="toolFields.sortName != null && !toolFields.sortName" ng-src="images/arrow-down.png">
                    </p>
                </div>
                <!--<div class="col-xs-hidden col-sm-4">  <p class="col-xs-hidden"> {{brochureData.object[1].title }} </p> </div>-->
                <div class="col-xs-4 col-sm-4 align-right">
                    <p class="sort" ng-class="{ active: toolFields.sortStatus != null }" ng-click="sortStatus();"> {{brochureData.object.live.title}}
                        <img class="arrow" ng-show="toolFields.sortStatus != null && toolFields.sortStatus" ng-src="images/arrow-up.png">
                        <img class="arrow" ng-show="toolFields.sortStatus != null && !toolFields.sortStatus" ng-src="images/arrow-down.png">
                    </p>
                </div>
            </div>
            <div class="col-xs-12 item center" ng-show="!toolFields.loading && !toBoolean(list)">
                No tools to display, press the plus button to add.
            </div>
            <div class="col-xs-12 loading" ng-show="toolFields.loading">
                <!--<div class="col-xs-12 center">
                    <img class="" src="./images/loading.png">
                </div>-->
            </div>
            <div class="col-xs-12 item" ng-repeat="item in filtered = (list | toolFilter:brochureData:rootFields)">
                <div class="col-xs-1 col-sm-1  no-pad">
                    <img class="icon-edit" src="./images/button-edit.png" ng-click="loadPage('edit:'+item.slug)">
                </div>
                <div class="col-xs-8 col-sm-8">
                    <p>{{item.metafield.name.value}} </p>
                </div>
                <div class="col-xs-3 col-sm-3 align-right">
                    <md-switch ng-model="item.metafield.live.value" aria-label="Switch 1" ng-change="switchSave(item)">

                    </md-switch>
                </div>
            </div>
        </div>
        <div class="col-xs-12 edit" ng-show="checkLocation('edit')">
            <div class="col-xs-12 loading" ng-show="toolFields.loading">
                <div class="col-xs-12 center">
                    <img class="" src="./images/loading.png">
                </div>
            </div>
            <div class="col-xs-12 no-pad" ng-show="!toolFields.loading">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3">
                        <p> SLUG: (TO BE HIDDEN) </p>
                    </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="toolFields.inputId" type="text" class="form-control" disabled placeholder="Used for accessing cosmic">                        </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3">
                        <p> Name: </p>
                    </div>
                    <div class="col-xs-12 col-sm-9"> <input ng-model="toolFields.inputName" ng-change="validateFields();" ng-class="toolFields.inputName != '' ? 'valid' : 'invalid'" ng-disabled="toolFields.disableButtons" type="text" class="form-control">                        </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3">
                        <p> Date: </p>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="toolFields.inputDate" is-open="popup2.opened" close-text="Close" ng-change="validateFields();" ng-class="toBoolean(toolFields.inputDate) != '' ? 'valid' : 'invalid'"  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <!--<input ng-model="toolFields.inputDate"  ng-disabled="toolFields.disableButtons" type="text" class="form-control">                    -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3">
                        <p> Description:<br> </p>
                    </div>
                    <div class="col-xs-12 col-sm-9"> <textarea ng-model="toolFields.inputDescription" ng-class="{valid: toolFields.inputDescription != '' }" ng-disabled="toolFields.disableButtons" type="text"
                            class="form-control" rows="6" maxlength="150"> </textarea> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <div class="col-xs-12 col-sm-3">
                        <p> URL: </p>
                    </div>
                    <div class="col-xs-12 col-sm-9"> 
                        <p class="urlMessage"> <sup> Please include 'http://' or 'https://' infront of your url </sup>  </p>
                        <input ng-model="toolFields.inputURL" ng-change="validateFields();"oolFields.fieldsValid ng-class="{valid: toolFields.inputURL != '', valid: toolFields.inputURL.indexOf('http') != -1 }" ng-disabled="toolFields.disableButtons" type="text" class="form-control">                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom hidden">
                    <div class="col-xs-12 col-sm-3"> <p> List order: </p> </div>
                    <div class="col-xs-12 col-sm-3"> <input ng-model="rosterFields.inputOrder" type="number" class="form-control"> </div>
                </div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-10 margin-bottom">
                    <!--<div class="col-xs-12 col-sm-3"> <p> Draft/Live: </p>  </div>-->
                    <div class="col-xs-12 col-sm-12">
                        <md-switch class="large" size="large" ng-model="toolFields.inputLive" aria-label="Switch 1">

                            <!--{{ data.cb1 }}-->
                        </md-switch>
                        <p ng-show="toolFields.inputLive" class="center"> active </p>
                        <p ng-hide="toolFields.inputLive" class="center"> inactive </p>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-offset-2 col-sm-8 margin-bottom">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: toolFields.inputId == '' }">
                        <img src="./images/button-delete-solid.png" ng-class="{inactive: toolFields.disableButtons}" class="form-button" ng-click="toggleDelete()">
                        <!--<img src="./images/button-delete-solid.png" ng-class="{inactive: toolFields.disableButtons}" class="form-button" ng-click="deleteObject()">-->
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: toolFields.fieldsValid == false }">
                        <img src="./images/button-save-solid.png" ng-class="{inactive: toolFields.disableButtons }" class="form-button" ng-click="saveFields(false)">
                    </div>
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 margin-bottom" ng-class="{inactive: toolFields.fieldsValid == false }">
                        <!--<img src="./images/button-save-notify-solid.png" ng-class="{inactive: toolFields.disableButtons }" class="form-button" ng-click="saveFields(true)">-->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 confirm-delete" ng-show="toolFields.confirmDelete"> 
        <div class="col-xs-10 background"> 
            <p class="center"> Are you sure you want to delete this... </p>
            <div class="col-xs-6 col-sm-offset-2 col-sm-4">
                <img src="./images/button-no.png"  class="form-button" ng-click="toggleDelete()">
            </div> 
            <div class="col-xs-6 col-sm-4">
                <img src="./images/button-yes.png" class="form-button" ng-click="deleteObject()">                
            </div> 
        </div>
    </div>